.root
{
    -fx-background-color: #343434;

}

#AnchorPane, #lowerPane, #upperPane
{

}

#txtPlaylist, #txtSongInPlaylist, #txtSongs, #currentSong
{
    -fx-fill: white;
    -fx-text-fill: white;
}


#upperPane, #lowerPane
{
    -fx-background-color: #3e3e3e;
}


#btnLeftSkip, #btnPlayPause, #btnRightSkip
{
    -fx-background-radius: 100px;

}

